ul {
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin-right: 20px;
}

.navBar {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.navMenu {
  display: flex;
  flex-direction: row;
}
